{% extends "base.html" %}

{% block content %}
<h1>Tags <a class="btn btn-primary" href="{% url 'todo:tags-create' %}">Add tag</a> </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td>
                <a class="btn btn-secondary" href="{% url 'todo:tags-update' tag.pk %}">Update</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'todo:tags-delete' tag.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}